
@*My*@

<nav class="navbar  navbar-expand-sm justify-content-around border-bottom">
    
    <div class="d-flex justify-content-around">

        <a class="" href="#" style="text-decoration:none; color:black;">
            Stories
        </a>

        <div class="dropdown pl-5">
            <a class="dropdown-toggle"  id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Policy
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
            </div>
        </div>


       
   
    </div>







    <div class="align-items-end">
        <div class="collapse navbar-collapse" id="navbar-list-4">
        <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" style="text-decoration:none; color:black;" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        
                    
                    <img src="~/images/Profilephoto.png" width="40" height="40" class="rounded-circle">
                        <span class="pl-3" style="text-decoration:none; color:black;"> Profile</span>
                
                </a>

               
                
                
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">Dashboard</a>
                    <a class="dropdown-item" href="#">Edit Profile</a>
                    <a class="dropdown-item" href="#">Log Out</a>
                </div>
            </li>
        </ul>
    </div>

    </div>
</nav>





<script>
    (function () {
        $('#msbo').on('click', function () {
            $('body').toggleClass('msb-x');
        });
    }());
</script>